/* pagina mural */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Cinzel", serif;
}

.cruz {
  position: relative;
  top: 14%;
  left: 4%;
  transform: translate(-50%, -50%);
  width: 27px;
  height: 185px;
  background: white;
  box-shadow:
    0 0 35px white,
    0 0 30px white,
    0 0 60px white;
  z-index: 9999;
}

.cruz::before {
  content: "";
  position: absolute;
  left: -62px;
  top: 48px;
  width: 150px;
  height: 27px;
  background: white;
  box-shadow: 0 0 35px white,
    0 0 30px white,
    0 0 60px white;
}


.label-captura {
  display: flex;
  justify-content: center;
}

/* DASHBOARD */

.imagemdefundoDash {
  position: fixed;
  left: 20%;
  height: 101%;
  width: 80%;
}

.painel-biblia-container {
  position: relative;
  background: radial-gradient(circle,
      #002b96a8 30%,
      #002b7896 60%,
      #002b5c7a 100%);
  border: #002b9642 5px solid;
  padding: 40px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  width: 68%;
  left: 23.5%;
  top: 9.5vh;
}

.painel-biblia {
  background-color: #f0f4ff;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.tituloProgresso {
  margin-top: -5%;
}

.dashboard {
  height: 60vh;
  width: 41vw;
  position: relative;
  color: white;
}

.porcentagemDash {
  position: absolute;
  left: 35.5%;
  top: 60.5%;
  transform: translate(-50%, -50%);
  font-size: 8vh;
  z-index: 2;
  pointer-events: none;
  color: white;
}

/* Caixa principal */

.progressoLeitura {
  background-color: #d9d9d9;
  color: #002b5c;
  padding: 20px;
  border-radius: 12px;
  border: 2px solid #002b5c;
  width: 350px;
  font-family: "Cinzel", serif;
  position: relative;

}

.titulo {
  margin-bottom: 25px;
  margin-top: 4px;
}

.listaLivros {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.itemLivro {
  background: radial-gradient(circle,
      #002B96 30%,
      #002B78 60%,
      #002b5c 100%);
  padding: 10px;
  border-radius: 8px;
  color: white;
}

.nomeLivro {
  font-weight: bold;
  margin-bottom: 5px;
}

.barraProgresso {
  background-color: #444;
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
}

.barraInterna {
  height: 100%;
  background-color: #50CF01;
  width: 0%;
  transition: width 0.3s ease;
}

.qtdCapitulos {
  font-size: 12px;
  margin-top: 5px;
  text-align: right;
  color: #ccc;
}

.btnVerMais {
  font-family: "Cinzel", serif;
  margin-top: 15px;
  padding: 8px 12px;
  background: radial-gradient(circle,
      #002B96 30%,
      #002B78 60%,
      #002b5c 100%);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 35%;
  font-size: 82%;
}

.toggleSemProgresso {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  margin: 10px 0;
}

/* POPUP */
.popup.hidden {
  display: none;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupConteudo {
  background-color: #d9d9d9;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #002b5c;
  width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  color: #002b5c;
  position: relative;
}

.fecharPopup {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 24px;
  cursor: pointer;
}




/* PAGINA DOS GRÁFICOS 2023 */


.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #0314ff;
  background: radial-gradient(circle,
      #002B96 30%,
      #002B78 60%,
      #002b5c 100%);
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background: radial-gradient(circle,
      #002B96 30%,
      #002B78 60%,
      #002b5c 100%);
  box-shadow:
    0 2px 0px white,
    0 5px 5px white;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: #d9d9d9;
  box-shadow:
    0 2px 0px white,
    0 5px 5px white;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #002B96;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #fffdfd;
  color: #002B96;
  box-shadow:
    0 2px 0px white,
    0 5px 5px white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 7px;
  cursor: pointer;
  margin-top: 36px;
}



/* BIBLIA */

.imagemdefundoBiblia {
  position: fixed;
  left: 20%;
  height: 101%;
  width: 80%;
  background-image: url(../assets/imgs/fundoDash.jpg);
  background-size: cover;
}

.imagemdefundoBiblia::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0 0 0 / 40%);
  z-index: 1;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  font-family: "Cinzel", serif;
  z-index: 2;
}

.tituloBiblia {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  left: 10vw;
  font-size: 40px;
  z-index: 2;
  color: white;
}

.select-group {
  display: flex;
  gap: 5vw;
  flex-wrap: wrap;
  z-index: 2;
}

.select-group label,
.select-group select {
  flex: 1;
  min-width: 150px;
  font-family: "Cinzel", serif;
  border-left: 4px #002B96 solid;
}

select {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  position: relative;
  z-index: 2;
}

#textoBiblico {
  margin-top: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border-left: 5px solid #002B96;
  border-radius: 5px;
  line-height: 1.8;
  font-size: 17px;
  width: 61vw;
  position: relative;
  z-index: 2;
}

#textoBiblico strong {
  display: inline-block;
  min-width: 30px;
  color: #002B96;
}

.botoes-capitulo {
  display: flex;
  justify-content: space-between;
  gap: 68%;
  margin-top: 20px;
  width: 64vw;
}

.botoes-capitulo button {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  background: radial-gradient(circle,
      #002B96 30%,
      #002B78 60%,
      #002b5c 100%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.botoes-capitulo button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.botoes-capitulo button:hover:not(:disabled) {
  background: radial-gradient(circle,
      #002B96 30%,
      #002B78 60%,
      #002b5c 100%);
}