/* pagina mural */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Cinzel", serif;
}

.cruz {
  position: relative;
  top: 14%;
  left: 4%;
  transform: translate(-50%, -50%);
  width: 27px;
  height: 185px;
  background: white;
  box-shadow:
    0 0 35px white,
    0 0 30px white,
    0 0 60px white;
  z-index: 9999;
}

.cruz::before {
  content: "";
  position: absolute;
  left: -62px;
  top: 48px;
  width: 150px;
  height: 27px;
  background: white;
  box-shadow: 0 0 35px white,
    0 0 30px white,
    0 0 60px white;
}


.label-captura {
  display: flex;
  justify-content: center;
}

/* DASHBOARD */


.porcentagemDash {
  position: absolute;
  z-index: 2;
  left: 35%;
  top: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8vh;
}

.dashboard {
  height: 60vh;
  width: 41vw;
  position: absolute;
  left: 25%;
  top: 17%;
}
/* Caixa principal */
.progressoLeitura {
  background-color: #1c1c1c;
  color: white;
  padding: 20px;
  border-radius: 12px;
  width: 350px;
  font-family: Arial, sans-serif;
  position: absolute;
  top: 100px;
  right: 50px;
}

.listaLivros {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.itemLivro {
  background-color: #2c2c2c;
  padding: 10px;
  border-radius: 8px;
}

.nomeLivro {
  font-weight: bold;
  margin-bottom: 5px;
}

.barraProgresso {
  background-color: #444;
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
}

.barraInterna {
  height: 100%;
  background-color: #4caf50;
  width: 0%;
  transition: width 0.3s ease;
}

.qtdCapitulos {
  font-size: 12px;
  margin-top: 5px;
  text-align: right;
  color: #ccc;
}

.btnVerMais {
  margin-top: 15px;
  padding: 8px 12px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.toggleSemProgresso {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  margin: 10px 0;
}

/* POPUP */
.popup.hidden {
  display: none;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupConteudo {
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  color: white;
  position: relative;
}

.fecharPopup {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 24px;
  cursor: pointer;
}




/* PAGINA DOS GRÁFICOS 2023 */


.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #0314ff;
  background: radial-gradient(circle,
      #002B96 30%,
      #002B78 60%,
      #002b5c 100%);
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background: radial-gradient(circle,
      #002B96 30%,
      #002B78 60%,
      #002b5c 100%);
  box-shadow:
    0 2px 0px white,
    0 5px 5px white;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: #d9d9d9;
  box-shadow:
    0 2px 0px white,
    0 5px 5px white;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #002B96;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #fffdfd;
  color: #002B96;
  box-shadow:
    0 2px 0px white,
    0 5px 5px white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 7px;
  cursor: pointer;
  margin-top: 36px;
}